body {
    background-color: #626e80;
    color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator {
    background-color: #293243;
    width: 90%;
    max-width: 380px;
    padding: 24px;
    border-radius: 32px;
    box-sizing: border-box;
    box-shadow:6px 6px 12px #273456;
            
}

.screen {
    color: #f5f5f5;
    font-size: 24px;
    background-color: #0e1d38;
    text-align: right;
    padding: 20px;
    margin-bottom: 20px;
    overflow-wrap: anywhere;
    border-radius: 16px;
    font-family: "Press Start 2p", monospace;
    box-sizing: border-box;
}

.keyboard, .numbers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    font-family: "Press Start 2p", monospace;
}

button {
    background-color: #293243;
    color: #f5f5f5;
    border:none;
    aspect-ratio: 1/1;
    border-radius: 50%;
    min-height: 56px;
    font-size: 20px;
    cursor:grab;
    box-shadow:6px 6px 12px #252b3a;
    transition: background-color 0.2s, color 0.2s, transform 0.1s;
}

button:hover {
    background-color: #85baf7;
    color: #1e2532;
}

button:active {
    transform: scale(0.95);
    box-shadow: inset 3px 3px 6px #1e2532;
}

button.operator:hover {
    background-color: rgb(218, 84, 155);
    color: #97065a;
}

button.equals:hover {
    background-color: #f475d4;
    color: #c10091;
}